.navigation{
    background: rgb(3, 44, 71);
    padding: 5px;
    color: white;
    padding-inline: 50px;
    display: table;
    text-align: center;
    min-inline-size: 25%;
    padding-top: 1.5%;
    text-align: left;
    display: -moz-inline-box;
    

}
ul{float: left;min-width: 45%;}
h1{
    color: #032c47;
    float:left;
    
}
.navigationlink{
    color: white;
    text-decoration: none;
    padding: 0.5%;
}
.navigationlink a:hover{
     color: rgb(255, 0, 0);
     
     background-color: rgb(95, 95, 95);
}
.icon1{
    height: 5px;
    width: 40px;
    background-color: rgb(3, 44, 71);
    margin-right: 2px;
   
    margin-top: 5px;
    float: right;
    
}
#titlebar3{
    margin-left: 500px;
    margin-right: 10px;
    margin-top: 35px;
}
#titlebar4{
    position: relative;
    margin-top: 55px;
}
